	*{margin:0; padding:0; list-style:none; text-decoration:none;}	
	body{ font-size:12px;font-family:"微软雅黑"; background:#333; color:#ccc;}
	.main .ul_li li ul li .anli{color:blue; font-size:14px; }
	/*回到顶部*/
	.mytop{width:40px; height:40px; background:#227d3c;border-radius:5px; position:fixed;bottom:10px; right:10px; box-shadow:0px 0px 10px 0px #333; transition:1s;}
	.mytop .m_top{display:block; text-decoration:none;line-height:40px; text-align:center; font-size:16px; font-weight:bold; color:#FFF;transition:1s;}
	.mytop:hover{background:#6600cc;}

	h1{position:fixed; top:0px; background:#41c770; color:#FFF; font-size:25px; padding:10px 10px; width:100%; }

	.main{width:100%; margin:100px auto;text-indent:20px;}
	.main h2,h3{color:#41c770;}
	.main h2{font-size:25px;}
	.main h3,h4{line-height:35px;}
	.main h3{font-size:20px; background:#3c9585; color:#FFF;}
	.main h4{font-size:18px; color:#41c770; display:inline-block; border-radius:5px; margin:5px 28px;}
	.main .u_list li{line-height:20px; }
	.main .u_list li,.o_list li{font-size:14px; margin:18px;font-size:16px;}

	/*课程纲要*/
	.main .p_title{width:100%; margin-top:40px; height:40px;}
	.main .p_title span{background:#41c770; padding:5px 10px; line-height:40px; text-align:center; color:#FFF; font-size:16px; border-radius:4px;}
	.main .o_list{margin:10px;}	
	.main .o_list li{line-height:30px;}
	.main .o_list li a{text-decoration:none;color:#ccc; font-size:16px; font-weight:600;}
	.main .o_list li a:hover{color:red;}

	.main .ul_li{text-indent:50px; font-size:14px; margin:5px 0 10px 20px; list-style:none; }
	.main .ul_li li{list-style:none; }
	.main .ul_li li span{font-size:16px;margin:10px; }
	.main .ul_li li ul li{font-size:14px;margin:5px 0 10px 20px;}

	/*代码块*/
	.main .main_code{width:96%;border:1.5px dashed #ccc; margin:20px 40px;border-radius:5px; box-shadow:0px 0px 5px 0px #ccc;}
	.main .main_code .h_code{margin-left:-38px;}
	.main .main_code .pre{margin-left:38px; text-indent:0px; font-size:14px;}
	
	.main .main_code .pre .img{box-shadow:1px 1px 10px 1px #333; border-radius:5px;}
	
	/*作业嵌套*/
	/*.main .main_code .pre .iframe{width:100%; border:none;}*/
	#iframe{width:100%; border:none; font-size:14px; line-height:21px;}
	

